  .dashboard-container{
    padding: 20px;
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 2rem;
  }

  .notification-text {
    font-size: 0.95rem;
    margin-bottom: 6px;
    color: #333;
  }
  
  .card-title {
    font-size: 1.1rem;
  }
  
  .card {
    border-radius: 10px;
  }
  

  .notification-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    max-width: 1100px;
    margin-top: 50px;
    padding: 30px;
  }

  .notification-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .notification-item{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;     
  }

  .notification-text{
    font-size: 1.2rem;
    margin: 0;
  }
  