* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main {
  background: url("../../public/images/login-page-background.png") no-repeat center
    center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header-login, .header-register {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header-login h1, .header-register h1 {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}
.container img {
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  font-size: 1.2rem;
  padding: 20px 40px;
  color: white;
  width: 35vw;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
.input-container {
  position: relative;
  width: 100%;
}
.input-container img {
  position: absolute;
  top: 3px;
  left: 15px;
  width: 25px;
}
input {
  font-size: 1rem;
  width: 100%;
  padding: 15px 50px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
}
.toggle-password {
  position: absolute;
  right: 60px;
  top: 2px;
  cursor: pointer;
  color: #000;
}
#password-icon {
  width: 21px;
}
.btn {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding: 17px;
  margin-top: 20px;
  background: #338886;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.btn:hover {
  background: #2c7473;
}
.login-link {
  margin-top: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
}
